* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #ffffff;
  font-family: Inconsolata;
  background-image: url("images/background-desktop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.continer {
  background-image: url(images/Layn.svg);
  background-position: center;
  background-size: 900px;
  background-position: center;
}
.line-element1 {
  background-image: url("images/Ticket line element.png");
  position: absolute;
  bottom: 0;
  left: 0;
  width: 825px;
  height: 476px;
  top: 405px;
  z-index: 1;
  background-size: contain;
  background-repeat: no-repeat;
}

.line-element2 {
  background-image: url("images/Line Element 2.png");
  position: absolute;
  right: 0;
  width: 446px;
  height: 208px;
  top: 40px;
  z-index: 100;
  background-size: contain;
  background-repeat: no-repeat;
}
.line-element3 {
  background-image: url("images/Profile\ Picture.png");
  position: absolute;
  width: 217px;
  height: 217px;
  top: 360px;
  left: 960px;
  border: 1px 0px 0px 0px;
  opacity: 0.1px;
  z-index: -100;
  background-size: contain;
  background-repeat: no-repeat;
}

h3 {
  margin-bottom: 20px;
  text-align: center;
  margin-top: 20px;
}

.content h1 {
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 20px;
}
p {
  font-size: 20px;
  font-weight: 500;
  line-height: 28.8px;
  letter-spacing: -0.5px;
  text-align: center;
  margin-bottom: 30px;
  color: #8888a1;
}
label {
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  max-width: 440px;
  margin: 0 auto;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #070127;
  color: #ffffff;
  outline: none;
  font-weight: 700;
  margin-bottom: 10px;
  border: 1px solid white;
  position: relative;
  z-index: 100;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
  color: #8888a1;
}


button {
  width: 440px;
  padding: 15px 20px;
  background-color: #e94d44;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 100;
}

button:hover {
  background-color: #d93c3a;
}

.custom-file-upload {
  width: 100%;
  padding: 15px;
  text-align: center;
  border: 2px dashed #8888a1;
  border-radius: 5px;
  color: #8888a1;
  cursor: pointer;
  background-color: transparent;
  font-size: 20px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-file-upload img {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

.custom-file-upload:hover {
  border-color: #ffffff;
  color: #ffffff;
}

.custom-file-upload input[type="file"] {
  display: none;
}
